#translate{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    transform: translate(100px, 50px);
}

#rotate{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin-top: 150px;
    transform: rotate(90deg);
}

#scale{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 150px;
    transform: scale(2,2);
}

#scaleX{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin-left: 250px;
    transform: scaleX(3);
}

#scaleY{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin-left: 250px;
    margin-top: 250px;
    transform: scaleY(3);
}

#skewX{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 100px;
    margin-top: 250px;
    transform: skewX(-40deg);
}

#skewY{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 100px;
    margin-top: 250px;
    transform: skewY(-40deg);
}

#rotateX{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 100px;
    margin-top: 250px;
    transform: rotateX(130deg);
}

#rotateY{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 100px;
    margin-top: 250px;
    transform: rotateY(130deg);
}

#rotateZ{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 100px;
    margin-top: 250px;
    transform: rotateZ(130deg);
}

#hover{
    height: 200px;
    width: 200px;
    background: red;
    transition: background 3s, border-radius 5s;
}

#hover:hover{
    background: blue;
    border-radius: 50%;
}